/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* common styles or utilities*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 0 350px;
}

/* Header */
header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
#header1{
    margin-right: 40%;
}
#header1:hover{
    background-color: lightgrey;
}
nav{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
nav a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-right: 10px;
    text-align: center;
}
nav a:hover{
    background-color: lightgrey;
}
nav .fas{
    font-size: 30px;
    margin-right: 50px;
    text-align: center;
}
nav .fas:hover{
    background-color: lightgrey;
}

/* Influencer added */
.influencer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 100px;
}
.text{
    width: 650px;
    margin-right: 10px;
    padding: 0 5px 5px;
    overflow: hidden;
}
.text:hover{
    transform: scale(1.1);
    transition: transform 1s ease-in;
    background-color: lightgrey;
}
.text:hover #header-line{
    background-color: rgb(147, 165, 177);
}
#header-line{
    font-size: 50px;
    margin-bottom: 0;
}
.text.p{
    text-align: justify;
}
button{
    background-color: rgb(218, 101, 6);
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: gray;
    color: black;
}
.influencer-pic:hover{
    transform: scale(1.2) skew(-15deg);
    transition: transform 1s ease-in-out;
}
/* Logs */

.Logos{
    margin-top: 80px;
    margin-bottom: 80px;
}

.log{
    margin: 30px 60px 30px 100px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
/* Popular Collection */
#header2{
    text-align: center;
    margin-bottom: 30px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.items{
    display: flex;
    flex-direction: column;
    width: 365px;
    height: 565px;
    padding: 15px;
    border: 20px solid rgba(202, 198, 198, 0.315);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
.items:hover .item{
    transform: scale(1.1) rotate(360deg);
    transition: transform 2s ease-in-out;
}
.items:hover .item-details{
    transform: scale(1.05);
    transition: transform 2s ease-in-out;
}
.header3{
    font-weight: 400;
}
.ratings{
    display: flex;
    align-items: center;
}
.star{
    font-size: 12px;
    margin-right: 15px;
}
.item-details p{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}
#button2{
    background-color: white;
    color: rgb(218, 101, 6);
    float: right;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
}
#button2:hover{
    background-color: gray;
    color: black;
}
/* Influencer Marketing */
.join-us{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 150px;
}
.join-us:hover{
    transform: scale(1.05);
    transition: transform 1s ease-in-out;
    background-color: lightgray;
}
.join-us:hover .join-text #header4{
    background-color: rgb(147, 165, 177);
}
.join-us img{
    width: 400px;
    height: 300px;
    margin-left: 10px;
    margin-right: 50px;
}
.join-us img:hover{
    transform: scale(1.05);
    transition: transform 1s ease-in-out;
}
.join-text{
    padding: 5px;
    text-align: justify;
}
/* Footer */
footer{
    width: 100%;
    background-color: rgb(7, 7, 61);
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 5px;
    padding-bottom: 50px;
}
footer h2{
    padding-top: 50px;
    padding-bottom: 0;
}
footer h4{
    margin-top: 0;
    margin-bottom: 0;
}
footer .icon{
    font-size: 20px;
    padding-top: 10px;
}
footer .fab{
    margin-right: 10px;
}
/* Media Query */ 
@media only screen and (max-width:668px) {
    body{
        width: 100%;
    };
    header{
        display: flex;
        flex-direction: column;
    }
    nav{
        grid-template-columns: repeat(3, 1fr);
    }
    .Logos{
        margin-top: 300px;
        margin-bottom: 80px;
    }
    
    .log{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .influencer, .join-us{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .text{
        width: 375px;
        padding-right: 5px;
    }
    .influencer-pic{
        width: 375px;
        height: 207px;
        padding: 0;
        margin: 0;
    }
    .popular-collection{
        justify-content: center;
    }
    .products{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .join-text{
        padding: 5px;
        text-align: justify;
        width: 80%;
        height: 300px;
    }

}